In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
url1 = 'https://drive.google.com/file/d/1A22RD4Q6PC09vhHNdb7H-l-Db0D73i8O/view?usp=sharing'
path1 = 'https://drive.google.com/uc?export=download&id='+url1.split('/')[-2]
data1 = pd.read_csv(path1)
print(data1.shape)
data1.head(5)

(158, 33)

,Country,ESTJ-A,ESFJ-A,INFP-T,ESFJ-T,ENFP-T,ENFP-A,ESTJ-T,ISFJ-T,ENFJ-A,...,INTP-A,ENTP-T,ISTP-T,ENTJ-T,ISTP-A,INFP-A,ENFJ-T,INTJ-A,ISFP-A,INFJ-A
0,Afghanistan,0.0798,0.0594,0.0482,0.0412,0.0406,0.0390,0.0390,0.0377,0.0364,...,0.0233,0.0227,0.0220,0.0220,0.0214,0.0204,0.0198,0.0182,0.0169,0.0150
1,Albania,0.0469,0.0399,0.0836,0.0266,0.0647,0.0398,0.0198,0.0286,0.0363,...,0.0273,0.0395,0.0128,0.0289,0.0105,0.0209,0.0412,0.0252,0.0108,0.0164
2,Algeria,0.0230,0.0275,0.1218,0.0165,0.0523,0.0334,0.0097,0.0222,0.0262,...,0.0559,0.0306,0.0157,0.0192,0.0173,0.0338,0.0294,0.0404,0.0113,0.0217
3,Andorra,0.0512,0.0372,0.1023,0.0279,0.0930,0.0837,0.0093,0.0279,0.0605,...,0.0233,0.0279,0.0093,0.0186,0.0093,0.0651,0.0558,0.0140,0.0326,0.0419
4,Angola,0.0484,0.0905,0.0771,0.0287,0.0475,0.0323,0.0108,0.0394,0.0475,...,0.0215,0.0215,0.0116,0.0134,0.0206,0.0341,0.0332,0.0269,0.0179,0.0314

In [ ]:
df = data1[['Country']].copy()
df.head(5)

       Country
0  Afghanistan
1      Albania
2      Algeria
3      Andorra
4       Angola

In [ ]:
df['ESTJ'] = data1['ESTJ-A']+data1['ESTJ-T']
df['ESTP'] = data1['ESTP-A']+data1['ESTP-T']
df['ESFJ'] = data1['ESFJ-A']+data1['ESFJ-T']
df['ESFP'] = data1['ESFP-A']+data1['ESFP-T']

df['ENTJ'] = data1['ENTJ-A']+data1['ENTJ-T']
df['ENTP'] = data1['ENTP-A']+data1['ENTP-T']
df['ENFJ'] = data1['ENFJ-A']+data1['ENFJ-T']
df['ENFP'] = data1['ENFP-A']+data1['ENFP-T']

df['ISTJ'] = data1['ISTJ-A']+data1['ISTJ-T']
df['ISTP'] = data1['ISTP-A']+data1['ISTP-T']
df['ISFJ'] = data1['ISFJ-A']+data1['ISFJ-T']
df['ISFP'] = data1['ISFP-A']+data1['ISFP-T']

df['INTJ'] = data1['INTJ-A']+data1['INTJ-T']
df['INTP'] = data1['INTP-A']+data1['INTP-T']
df['INFJ'] = data1['INFJ-A']+data1['INFJ-T']
df['INFP'] = data1['INFP-A']+data1['INFP-T']

df.head(10)

,Country,ESTJ,ESTP,ESFJ,ESFP,ENTJ,ENTP,ENFJ,ENFP,ISTJ,ISTP,ISFJ,ISFP,INTJ,INTP,INFJ,INFP
0,Afghanistan,0.1188,0.0652,0.1006,0.0527,0.0511,0.0495,0.0562,0.0796,0.0629,0.0434,0.0610,0.0460,0.0431,0.0549,0.0463,0.0686
1,Albania,0.0667,0.0381,0.0665,0.0405,0.0686,0.0792,0.0775,0.1045,0.0418,0.0233,0.0449,0.0334,0.0604,0.0754,0.0748,0.1045
2,Algeria,0.0327,0.0241,0.0440,0.0279,0.0535,0.0739,0.0556,0.0857,0.0320,0.0330,0.0337,0.0377,0.0896,0.1410,0.0800,0.1556
3,Andorra,0.0605,0.0187,0.0651,0.0372,0.0465,0.0372,0.1163,0.1767,0.0279,0.0186,0.0465,0.0419,0.0326,0.0512,0.0791,0.1674
4,Angola,0.0592,0.0368,0.1192,0.0547,0.0492,0.0448,0.0807,0.0798,0.0404,0.0322,0.0717,0.0403,0.0466,0.0564,0.0771,0.1112
5,Antigua and Barbuda,0.0421,0.0245,0.0940,0.0548,0.0279,0.0470,0.0632,0.1092,0.0431,0.0308,0.0853,0.0592,0.0328,0.0632,0.0848,0.1381
6,Argentina,0.0245,0.0174,0.0476,0.0366,0.0309,0.0544,0.0625,0.1338,0.0342,0.0255,0.0440,0.0416,0.0652,0.1060,0.0884,0.1875
7,Armenia,0.0740,0.0270,0.0629,0.0262,0.0689,0.0821,0.0792,0.1057,0.0399,0.0197,0.0472,0.0268,0.0690,0.0839,0.0735,0.1138
8,Australia,0.0355,0.0212,0.1038,0.0587,0.0215,0.0391,0.0778,0.1483,0.0304,0.0202,0.0826,0.0583,0.0273,0.0478,0.0772,0.1500
9,Austria,0.0384,0.0226,0.0553,0.0367,0.0347,0.0657,0.0664,0.1437,0.0334,0.0221,0.0460,0.0378,0.0525,0.0906,0.0809,0.1732

In [ ]:
df['I'] = df['INFP']+df['INFJ']+df['INTP']+df['INTJ']+df['ISFP']+df['ISFJ']+df['ISTP']+df['ISTJ']
df['E'] = df['ENFP']+df['ENFJ']+df['ENTP']+df['ENTJ']+df['ESFP']+df['ESFJ']+df['ESTP']+df['ESTJ']

df['N'] = df['INFP']+df['INFJ']+df['INTP']+df['INTJ']+df['ENFP']+df['ENFJ']+df['ENTP']+df['ENTJ']
df['S'] = df['ISFP']+df['ISFJ']+df['ISTP']+df['ISTJ']+df['ESFP']+df['ESFJ']+df['ESTP']+df['ESTJ']

df['F'] = df['INFP']+df['INFJ']+df['ISFP']+df['ISFJ']+df['ENFP']+df['ENFJ']+df['ESFP']+df['ESFJ']
df['T'] = df['INTP']+df['INTJ']+df['ISTP']+df['ISTJ']+df['ENTP']+df['ENTJ']+df['ESTP']+df['ESTJ']

df['P'] = df['INTP']+df['INFP']+df['ISTP']+df['ISFP']+df['ENTP']+df['ENFP']+df['ESTP']+df['ESFP']
df['J'] = df['INTJ']+df['INFJ']+df['ISTJ']+df['ISFJ']+df['ENTJ']+df['ENFJ']+df['ESTJ']+df['ESFJ']

In [ ]:
df

,Country,ESTJ,ESTP,ESFJ,ESFP,ENTJ,ENTP,ENFJ,ENFP,ISTJ,...,INFJ,INFP,I,E,N,S,F,T,P,J
0,Afghanistan,0.1188,0.0652,0.1006,0.0527,0.0511,0.0495,0.0562,0.0796,0.0629,...,0.0463,0.0686,0.4262,0.5737,0.4493,0.5506,0.5110,0.4889,0.4599,0.5400
1,Albania,0.0667,0.0381,0.0665,0.0405,0.0686,0.0792,0.0775,0.1045,0.0418,...,0.0748,0.1045,0.4585,0.5416,0.6449,0.3552,0.5466,0.4535,0.4989,0.5012
2,Algeria,0.0327,0.0241,0.0440,0.0279,0.0535,0.0739,0.0556,0.0857,0.0320,...,0.0800,0.1556,0.6026,0.3974,0.7349,0.2651,0.5202,0.4798,0.5789,0.4211
3,Andorra,0.0605,0.0187,0.0651,0.0372,0.0465,0.0372,0.1163,0.1767,0.0279,...,0.0791,0.1674,0.4652,0.5582,0.7070,0.3164,0.7302,0.2932,0.5489,0.4745
4,Angola,0.0592,0.0368,0.1192,0.0547,0.0492,0.0448,0.0807,0.0798,0.0404,...,0.0771,0.1112,0.4759,0.5244,0.5458,0.4545,0.6347,0.3656,0.4562,0.5441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Vanuatu,0.0670,0.0210,0.0837,0.1046,0.0126,0.0503,0.0795,0.1297,0.0377,...,0.0837,0.1213,0.4645,0.5484,0.5399,0.4730,0.7405,0.2724,0.5525,0.4604
154,Vietnam,0.0481,0.0291,0.1024,0.0656,0.0282,0.0428,0.0666,0.1193,0.0342,...,0.0615,0.1447,0.4980,0.5021,0.5478,0.4523,0.7051,0.2950,0.5562,0.4439
155,Yemen,0.0594,0.0325,0.0642,0.0565,0.0498,0.0690,0.0689,0.1188,0.0459,...,0.0556,0.1101,0.4807,0.5191,0.6197,0.3801,0.5603,0.4395,0.5535,0.4463
156,Zambia,0.0630,0.0264,0.1253,0.0559,0.0435,0.0445,0.0726,0.0983,0.0406,...,0.0800,0.0977,0.4706,0.5295,0.5325,0.4676,0.6659,0.3342,0.4506,0.5495
157,Zimbabwe,0.0584,0.0272,0.1134,0.0505,0.0486,0.0526,0.0837,0.1134,0.0372,...,0.0761,0.1111,0.4524,0.5478,0.5754,0.4248,0.6659,0.3343,0.4704,0.5298

numpy.float64

In [ ]:
from google.colab import files
df.to_csv("generated.csv")
files.download("generated.csv")